# Web Scraping

In [1]:
import requests
from bs4 import BeautifulSoup

In [23]:
def extract_data():
    head = []
    user_status = []
    content = []
    for i in range(1,367):
        # Extracts all reviews page hyperlinks
        url = "https://www.airlinequality.com/airline-reviews/british-airways/page/{page}/".format(page=i)
        r = requests.get(url)       # Requesting access to the URL
        html_doc = r.text           # Converting html to text
        soup = BeautifulSoup(html_doc,'html.parser')  #Scraper
        
        # Main Heading of the Review
        for i in soup.find_all(class_ = 'text_header'):
            head.append(i.text)
        
        # User information    
        for i in soup.find_all(class_ = 'userStatusWrapper'):
            user_status.append(i.text)
        
        # Content of the Review
        for i in soup.find_all(class_ = 'text_content'):
            content.append(i.text)
    return head, user_status, content

In [24]:
head, user_status, content = extract_data()

# Saving scraped data to .csv File

In [25]:
import pandas as pd

###### Creating pandas DataFrame from data

In [26]:
df = pd.DataFrame(data = [user_status, head, content])

In [27]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,3650,3651,3652,3653,3654,3655,3656,3657,3658,3659
0,\n\nTom Slowbe (United States) 28th September ...,\n\nE Anderson (United Kingdom) 28th September...,\n\n1 reviews\n\n\n\nC Horden (United Kingdom)...,\n\nP Cooper (United States) 23rd September 2023,\n\nBruce Friedman (United States) 22nd Septem...,\n\nR Barton (United Kingdom) 22nd September 2023,\n\nTerri Galli (France) 20th September 2023,\n\nSelcuk Benter (Germany) 20th September 2023,\n\nMarianne Roehricht (Switzerland) 19th Sept...,\n\n41 reviews\n\n\n\nJohn Rolfe (United Kingd...,...,\n\nS Luqman (United Kingdom) 29th August 2012,\n\nD Smith (United Kingdom) 29th August 2012,\n\nW Benson (United Kingdom) 29th August 2012,\n\nMichael Dielissen (Canada) 29th August 2012,\n\nD Nolan (Ireland) 29th August 2012,\n\nJ Tinning (United Kingdom) 29th August 2012,\n\nNick Berry (United Kingdom) 28th August 2012,\n\nAvril Barclay (United Kingdom) 12th Octobe...,\n\nC Volz (United States) 11th October 2011,\n\nRuss King (United Kingdom) 9th October 2011
1,"""Very disappointed""","""the service was shockingly bad""","""Never again will I fly BA""","""never fly this awful airline again""","""I’ll never fly with them again""","""the worst of the worst""","""everyone refused to help us""","""not a single feedback from British Airways""","""never fly British Airways again""","""Club Europe doesn’t feel very premium""",...,British Airways customer review,British Airways customer review,British Airways customer review,British Airways customer review,British Airways customer review,British Airways customer review,British Airways customer review,British Airways customer review,British Airways customer review,British Airways customer review
2,✅ Trip Verified | The airplanes and the lounge...,✅ Trip Verified | One of the worst experiences...,✅ Trip Verified | Cancelled our flight last-m...,"✅ Trip Verified | I had a flight from Miami, F...",✅ Trip Verified | We started our day with BA ...,✅ Trip Verified | I fly British Airways weekl...,Not Verified | Everything was ok until our co...,Not Verified | My initial flight was cancelle...,Not Verified | We will never fly British Airw...,✅ Trip Verified | Check in and security cleara...,...,Just got back from Bridgetown Barbados flying ...,LHR-JFK-LAX-LHR. Check in was ok apart from be...,HKG-LHR in New Club World on Boeing 777-300 - ...,YYZ to LHR - July 2012 - I flew overnight in p...,Flew return in CW from LHR to BKK in August 20...,Flew LHR - VIE return operated by bmi but BA a...,LHR to HAM. Purser addresses all club passenge...,My son who had worked for British Airways urge...,London City-New York JFK via Shannon on A318 b...,SIN-LHR BA12 B747-436 First Class. Old aircraf...

In [28]:
# Transposing to swap rows and columns
df_new = df.T

In [29]:
# Naming columns
df_new.columns = ['user_status', 'heading', 'reviews']

In [30]:
df_new.head()

,user_status,heading,reviews
0,\n\nTom Slowbe (United States) 28th September ...,"""Very disappointed""",✅ Trip Verified | The airplanes and the lounge...
1,\n\nE Anderson (United Kingdom) 28th September...,"""the service was shockingly bad""",✅ Trip Verified | One of the worst experiences...
2,\n\n1 reviews\n\n\n\nC Horden (United Kingdom)...,"""Never again will I fly BA""",✅ Trip Verified | Cancelled our flight last-m...
3,\n\nP Cooper (United States) 23rd September 2023,"""never fly this awful airline again""","✅ Trip Verified | I had a flight from Miami, F..."
4,\n\nBruce Friedman (United States) 22nd Septem...,"""I’ll never fly with them again""",✅ Trip Verified | We started our day with BA ...

In [31]:
len(df_new)

3660

In [32]:
df_new.to_csv('BAreviews.csv')